<html>
<body>
<h3>This Website is owned by: <%= node["owner"] %> </h3>
<br />
<center><img src = "shadi.jpg" /></center>
<br />
<h3> Second attribute goes here <%= node["operating system"] %> </h3>
</body>
</html>
